extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content

    main
        if orders.length > 0
            ul
                each order in orders
                    li
                        h1 #{order.id}
                        ul
                            each product in order.products
                                li
                                    h2 #{product.title} (#{product.orderItem.quantity})

        else
            h2 No products found.